.list-transitions-setting {
  float: left;
  display: inline;
}

.list-transitions-value-from {
  margin-right: 2em;
}

.list-transitions-value-to {
  margin-right: 3em;
}

.list-transitions-value-from label, .list-transitions-value-to label {
  display: inline-block;
}

.list-transitions-submit .form-actions {
  margin-top: .4em;
}

#edit-transitions label {
  margin-bottom: 1.5em;
}